.sitesWebpart{
  min-width: 300px;
}

.listAction{
  float: right;
  margin-right: 15px;
}

.sitesLink{
  text-decoration: none;
  color: #000;
}

.sitesItem:hover{
  background-color: #eaeaea;
}

.ms-Pivot.ms-Pivot--tabs .ms-Pivot-link.is-selected,
.ms-Pivot-link:active,
.ms-Pivot-link.is-selected::before {
  background-color: #ff8c00 !important;
}
