.sitesWebpart{
  min-width: 400px;
}

.listAction{
  float: right;
  margin-right: 15px;
  cursor: pointer;
}

.sitesLink{
  text-decoration: none;
  color: #000;
}

.sitesWebpart a:visited {
  text-decoration: none;
  color: #000;
}

.sitesItem:hover{
  background: rgba(250, 140, 0, 0.4);
}

.sitesWebpart a:hover {
  text-decoration: none;
  color: #fff;
}

.ms-Pivot.ms-Pivot--tabs .ms-Pivot-link.is-selected,
.ms-Pivot-link:active,
.ms-Pivot-link.is-selected::before {
  background-color: #ff8c00 !important;
}

.view-container {
  margin: 30px 15px;
}

.view-actions {
  margin-top: 30px;
}

.show-all {
  float: right;
  margin-right: 30px;
  cursor: pointer;
  text-decoration: underline;
}

.pin-tab {
  margin-right: 5px;
  margin-top: -60px;
  float: right;
  cursor: pointer;
}

.ms-FocusZone{
  margin-right: 30px;
}

.all-link-hide {
  display: none;
}

.all-link-show {
  display: block;
}
