.sitesWebpart{
  min-width: 300px;
}

.listAction{
  float: right;
  margin-right: 15px;
  cursor: pointer;
}

.sitesLink{
  text-decoration: none;
  color: #000;
}

.sitesItem:hover{
  background-color: #eaeaea;
}

.ms-Pivot.ms-Pivot--tabs .ms-Pivot-link.is-selected,
.ms-Pivot-link:active,
.ms-Pivot-link.is-selected::before {
  background-color: #ff8c00 !important;
}

.view-container {
}

.view-actions {
  margin-top: 30px;
}

.show-all {
  float: right;
  margin-right: 30px;
}

.pin-tab {
  margin-right: 5px;
  margin-top: -30px;
  float: right;
  cursor: pointer;
}

.ms-FocusZone{
  margin-right: 30px;
}
